services:
  cliproxy:
    build: .
    container_name: cliproxy
    ports:
      - "8317:8317"
      - "8081:8081"
    restart: unless-stopped
    volumes:
      - ./data:/root/.cli-proxy-api
      - ./config.yaml:/app/config.yaml
